body {
  background-color: #00015C;
  color: #2F1E5F;
}

.container {
  margin-bottom: 50px;
}

.header {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 8px;
  background-color: #F0F8FF;
  color: #2F1E5F;
}

.footer {
  text-align: center;
  margin-top: auto;
  background-color: #F0F8FF;
  padding: 8px
}

form {
  padding: 20px;
  color:#2F1E5F;
  background-color: #F0F8FF;
  border-radius: 20px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.button {
  background-color: #AB54F8;
  border: transparent;
}

.button:hover {
  background-color: #803FBA;
  border: transparent;
}

#list-length {
  color:#F0F8FF;
  text-align: center;
}

.book-card {
  background-color: #F0F8FF;
  border-radius: 20px;
  text-align: center;
}

p {
  margin-top: 7px;
}

select {
  border-radius: 8px;
  padding: 8px;
}

#delete-btn {
  background-color: #F854AB;
  border: transparent;
}

#delete-btn:hover {
  background-color: #D94A96;
}

a {
  color: #AB54F8;
}

a:hover {
  color: #803FBA;
}
